body
{
	font-size: 16px;
}

footer
{
	border-top: 1px black;
	text-align: center;
	border-top-width: 15%;
}

/*#pokemon
{
	background: rgba(150,150,150,0.2);
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	width: 20%;
}

#pokemon span
{
	border-bottom: 2px solid black;
	font-size: 2em;
	font-weight: bold;
}*/
#altura, #peso, #descripcion
{
	font-size: 1.5em;
	font-weight: bold;
}

#artPDF01
{
	display: inline-block;
	text-align: center;
}

#artPDF02
{
	display: inline-block;
	width: 50%;
}

#artPDF03
{
	display: inline-block;
	width: 45%;
}

#logo
{
	width: 60px;
}

#seccion01
{
	margin: 0 auto;
}

#seccion01 article
{
	text-align: center;
}

#seccion01 article img
{
	border-radius: 5px;
}

#tipos
{
	text-align: center;
}

#tipos a
{
	width: 111px;
}

#pokemon
{
	display: inline-block;
	margin-left: 7px;
	text-align: center;
	width: 19%;
}

#pokemon img
{
	width: 190px;
}

#pokePDF
{
	border-bottom: 1px solid black;
	/*text-align: center;*/
	width: 270px;
}