body{
	font-family: pokemon;
	font-size: 16px;
	font-weight: 100;
  	background-image: url("/proyectoIngenieriaWeb2/public/img/background2.png");
	background-size: cover;
}

footer
{
	border-top: 1px black;
	text-align: center;
	border-top-width: 15%;
}
#altura, #peso, #descripcion
{
	font-size: 1.5em;
}

#logo
{
	width: 60px;
}

#seccion01
{
	margin: 0 auto;
}
#seccion01 article
{
	text-align: center;
}

#seccion01 article img
{
	border-radius: 5px;
}

#tipos
{
	text-align: center;
}

#tipos a
{
	width: 111px;
}
#pokemon
{
	display: inline-block;
	margin-left: 7px;
	text-align: center;
	width: 19%;
}
#panelBody{
	text-align: left;
	font-size: 25px;
}
#panelPokemon{
	margin-left: 450px;
	text-align: center;
	width: 19%;
}
#panelPokemonE img{
	width: 250px;
}
#panelPokemonE{
	width: 50%;	
	margin-left: 300px;
}
#pokemon img
{
	width: 170px;
}
#panelPokemon img
{
	width: 170px;
}

.ataquePokemon
{
	margin-right: 5px;
}

.paginacion
{
	text-align: center;
}
table{
	font-family: "Comic Sans", "Comic Sans MS", "cursive";
	width: 400px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr{
    border: 1px solid black;
}